.background{
background: linear-gradient(to right,rgb(4, 4, 4), rgb(66, 67, 67));
}
.heading{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 5.44rem;
    color:rgb(9, 9, 9);
    position: relative;
    padding: 8vw 0 4vw 0;
}
.subheading{
    font-size: 2.125rem;
    color: rgb(44, 38, 38);
    font-family: 'Kalam', cursive;
    position: relative;
    padding: 0 3.5vw 0 3.5vw;
    width: 60vw;
}
.head-pic{
    position: absolute;
}
img{
    height: 4.625rem;
    width: 4.625rem;
    position: relative;
    margin-top: 10px;
}
.main_box{
    display: grid;
    align-items: center;
    justify-items: start;
    align-content: space-between;
    gap:7.6854rem;
    padding-left: 2.064rem;
    padding-right: 2.064rem;
}
.article-left{
    flex-direction: row;
}
.article-right{
    flex-direction: row-reverse;
}
.article-left,.article-right{
    display: flex;
    width: 87.5rem;
    gap: 10%;
    justify-content: space-evenly;
    color: aliceblue;
}
h3{
    font-size: 2.12rem;
    padding-bottom: 20px;
    text-align: center;
    color: rgba(169, 169, 169, 0.303);
  }
p{
    font-size: 1.23rem;
}
hr{
    border-color:rgb(205, 205, 65);
    border: none;
    border-top:dotted;
    border-width : 10px;
    width:8%;
}
.first-box{
    background: linear-gradient(to right,white,rgb(107, 106, 106));
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}
.bin{
    position: absolute;
    width: 16rem;
    height: 18rem;
    margin-left: 70vw;
    margin-top: 21vw;
}